<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277337985210-2besm9np25deir9cpfupk615s2occ2bf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277337985210-2besm9np25deir9cpfupk615s2occ2bf</string>
	<key>API_KEY</key>
	<string>AIzaSyCg-3lwkNKWYNcMCPHcGyaBAmZRypW2QjE</string>
	<key>GCM_SENDER_ID</key>
	<string>277337985210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sangesherpa.DressMeUp</string>
	<key>PROJECT_ID</key>
	<string>dress-me-up-2f4a3</string>
	<key>STORAGE_BUCKET</key>
	<string>dress-me-up-2f4a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:277337985210:ios:6b4c417e81a9bf1835b283</string>
</dict>
</plist>
